<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870014959714-nstuo2k4d422cdh10f9i4vs81codb5it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870014959714-nstuo2k4d422cdh10f9i4vs81codb5it</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>870014959714-hhq83i1vdg5flggr7kk28mhdh14vv26r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCV4bep_nqFpmkAJQNHYPpN1Axt93HqSsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>870014959714</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daoma90.spaceXtracker</string>
	<key>PROJECT_ID</key>
	<string>spacextracker-38250</string>
	<key>STORAGE_BUCKET</key>
	<string>spacextracker-38250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870014959714:ios:78795ecc2aa0886a09913b</string>
</dict>
</plist>